
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .title-header {
    color: blue;
    font-family: Lobster , Monospace;
  }

  .small-img{
  	width: 100px;
  }


  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }
</style>

<p>Click here for <a href="#">cat photos</a>.</p>

<h1 class="title-header ">Student Manager Web Application</h1>

<a href="#"><img class="small-img thick-green-border" src="https://bit.ly/fcc-relaxing-cat" alt = "cat ihih"></a>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff</p> 

<ul>
  <li>cat nip</li>
  <li>laser pointers</li>
  <li>lasagna</li>
</ul>
<p>Top 3 things cats hate:</p>
<ol>
  <li>flea treatment</li>
  <li>thunder</li>
  <li>other cats</li>
</ol>

<form action="/students">
  <input type="text" placeholder="cat photo URL" required>
  <button type="submit">Submit</button> 
</form>

<%= link_to 'Go to app', controller: 'students' %>